/* css styles */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
body {
  font-size: 17px;
}
code.r{
  font-size: 13px;
  font-family: 'Fira Code', monospace;
}
pre {
  font-size: 13px;
  font-family: 'Fira Code', monospace;
}